/* importing the font into css to be used */
@font-face{
    font-family: myFont;
    src: url(../res/fonts/ArchivoBlack.otf);
}

html, body {
  height: 100%;
}

#game {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* setting the heading at the main menu with text alignment, new fonts and font colour. */
h1,h2 {
    text-align: center;
    font-family: myFont, sans-serif;
    color:white;
}

/* setting the size for the first heading "Welcome to Bomberman Omega!"*/
h1 {
    font-size:50px;
}

/* setting font size for second heading "Choose your player model */
h2 {
    font-size:35px;
}

/* importing the background image to the main menu screen */
#main {
    background-color: aliceblue;
    background-image: url(../res/images/bomb-in-desert.jpg);
    height:80%;
}

#bombermodelselect{
    margin-left:41%;
    margin-right:30%;
}

#bombermodeldisplay{
    margin-left:42%;
    margin-right:30%;
}

#buttonwrap{
    text-align: center;
}

#singleplayerstart{
    position:absolute;
/*    top:50%;*/
    left:43%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

#img{
    width: 50%;
}

