/* importing the font into css to be used */

@font-face {
    font-family: myFont;
    src: url(../res/fonts/ArchivoBlack.otf);
}

#game {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Bangers' !important;
    color: white !important;
}

h1 {
    margin-top: 50px !important;
    font-size:50px !important;
    text-align: center;
}

h3 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    text-align: center;
}

.bck-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../res/images/bomb-in-desert.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#bombermodelselect div {
    text-align: center;
}

#bombermodelselect button{
    width:100px;
    font-size: 15px;
}

#bombermodelselect img {
    width: 200px;
}

.startGame {
    margin-top: 50px;
}

.startGame div {
    text-align: center;
}

.startGame .back-btn{
    width:50px !important;
}


.startGame div button {
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    color:black;
}

.glyphicon-ok {
    font-size: 25px !important;
    color: lightgreen !important;
}

#gameover {
    font-family: 'Bangers';
    background:  url(../res/images/celeb.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#gameover div{
    text-align: center;
}

#gameover button{
    height:50px;
    width:200px;
    margin-bottom: 10px;
    font-size: 20px;
    color:black;
}

#gameover h1,h2 {
    color: white !important;    
}

#gameover h1{
    font-size: 100px !important;
}

#highscore {
    color: white;
    font-size: 150px;
    text-align: center;
}



